html {
  overflow: hidden !important;
}
textarea {
  margin-top:0 !important;
  font-size:90% !important;
}
input {
  font-size: 90% !important;
}
.urlinput .v-input__control, .urlinput .v-input__slot{
  min-height: 36px !important;
}
.video-queue-title {
  color: black;
}
.video-queue-title:hover {
  text-decoration: underline;
}
